<div ng-show="viewerCtrl.areThereVolunteers()">
  <div class="panel panel-default viewer-container">
    <div class="panel-heading">Search for a specific volunteer:</div>
    <div class="panel-body text-center">
      <input type="search" ng-model="search.firstName" placeholder="filter volunteer by first name" aria-label="filter volunteer" class="filtering"/>
      <input type="search" ng-model="search.lastName" placeholder="filter volunteer by last name" aria-label="filter volunteer" class="filtering" />
    </div>
  </div><br />
</div>
<div class="panel panel-default viewer-container">
  <div class="panel-heading">List of all volunteers:</div>
  <div class="list-group">
    <a ng-href="/view/{{volunteer._id}}" class="list-group-item" ng-repeat="volunteer in viewerCtrl.data | filter: search | orderBy: 'lastName'">
      {{ volunteer.firstName }} {{ volunteer.lastName }}
    </a>
    <div class="panel-body" ng-hide="viewerCtrl.areThereVolunteers()">There are currently no entered volunteers.</div>
  </div>
</div>
