<div class="job-container" ng-show="jobCtrl.doesJobExist()">
  <div class="panel panel-default">
    <div class="panel-heading">Job Info:
      <div class="pull-right"><span ng-show="jobCtrl.isReadOnly()"><a href="" ng-click="jobCtrl.toggleEdit()">Enter Editing Mode</a> | </span><a href="/jobs">Back to job list</a></div>
    </div>
    <div class="panel-body">
      <div class="success" ng-show="jobCtrl.isSuccess()">You have successfully updated this job.<br /><br /></div>
      <div class="warning" ng-show="jobCtrl.isError()">You must fill out all of the required fields.<br /><br /></div>
      <div class="form-group">
        <label for="jobtitle">Job Title:</label>
        <input type="text" class="form-control" id="jobtitle" ng-model="jobCtrl.job.title" ng-readonly="jobCtrl.isReadOnly()">
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" ng-model="jobCtrl.job.description" ng-readonly="jobCtrl.isReadOnly()">
      </div>
    </div>
  </div>

  <div class="panel panel-default" ng-hide="jobCtrl.isReadOnly()">
    <div class="panel-heading">Add a location:</div>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" class="form-control" id="location" placeholder="Location" ng-model="jobCtrl.location">
        </div>
        <button type="submit" ng-click="jobCtrl.addLocation()" class="btn btn-default">Add Location</button>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Locations for this job:</div>
    <div class="list-group">
      <div class="list-group-item no-padding" style="" ng-repeat="location in jobCtrl.locations">
        <div class="group-item">{{ location.name }}</div>
        <a ng-click="jobCtrl.removeLocation(location)" ng-href="" class="btn btn-sm btn-danger group-item-remove" style=""><span class="glyphicon glyphicon-trash"></span></a>
      </div>
    </div>
    <div class="panel-body" ng-hide="jobCtrl.areThereLocations()">There are currently no locations defined for this job.</div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Time slots for this job:
      <div class="pull-right"><a href="/slots/create/{{jobCtrl.job._id}}">Create a time slot</a></div>
    </div>
    <div class="list-group">
      <div class="list-group-item no-padding" ng-repeat="slot in jobCtrl.slots | orderBy: 'start'">
        <a ng-href="/slots/{{slot._id}}" class="group-item">
          <strong>Start time</strong>: {{ jobCtrl.parseTime(slot.start) }} <br />
          <strong>End time</strong>: {{ jobCtrl.parseTime(slot.end) }} <br />
          <strong>Volunteers needed for slot</strong>: {{ slot.volunteersNeeded }} <br />
          <strong>Volunteers still neeeded</strong>: {{ slot.left }} <br />
        </a>
        <a ng-click="jobCtrl.removeSlot(slot)" ng-href="" class="btn btn-sm btn-danger group-item-remove"><span class="glyphicon glyphicon-trash"></span></a>
      </div>
    </div>
    <div class="panel-body" ng-hide="jobCtrl.areThereSlotsHere()">There are currently no time slots created for this job.</div>
  </div>
</div>

<br />

<div ng-hide="jobCtrl.isReadOnly()" class="text-center">
  <button class="btn btn-primary" type="submit" ng-click="jobCtrl.updateJob()" name="submit">Update Job</button>
  <button class="btn btn-danger" type="submit" ng-click="jobCtrl.cancelUpdates()" name="cancel">Cancel Changes</button>
</div>

<div class="panel panel-default job-container" ng-hide="jobCtrl.doesJobExist()">
  <div class="panel-heading">Job Info:</div>
  <div class="panel-body">
    This job does not exist.
  </div>
</div>
