<div class="slot-container">
  <div class="panel panel-default">
    <div class="panel-heading">Slot Info:
      <div class="pull-right"><a href="/slots">Back to slot list</a></div>
    </div>
    <div class="panel-body">
      <strong>Job title</strong>: {{ slotCtrl.getJobTitle(slotCtrl.slot.jobID) }} <br />
      <strong>Start time</strong>: {{ slotCtrl.parseTime(slotCtrl.slot.start) }} <br />
      <strong>End time</strong>: {{ slotCtrl.parseTime(slotCtrl.slot.end) }} <br />
      <strong>Volunteers needed</strong>: {{ slotCtrl.slot.volunteersNeeded }} <br />
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Volunteers assigned to this time slot:</div>
    <div class="list-group">
      <div class="list-group-item no-padding" ng-repeat="volunteer in slotCtrl.vols | orderBy: 'lastName'">
        <a ng-href="/volunteers/{{volunteer._id}}" class="group-item">{{ volunteer.firstName }} {{ volunteer.lastName }}</a>
        <a ng-click="slotCtrl.removeVolunteer(volunteer)" ng-href="" class="btn btn-sm btn-danger group-item-remove"><span class="glyphicon glyphicon-trash"></span></a>
      </div>
    </div>
    <div class="panel-body" ng-hide="slotCtrl.areThereAssignees()">There are currently no volunteers assigned to this time slot.</div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Add a volunteer to this time slot:</div>
    <div class="panel-body">
      <div class="success" ng-show="slotCtrl.isSuccess()">You have successfully added a volunteer to this time slot.<br /><br /></div>
      <div class="warning" ng-show="slotCtrl.isError()">{{ slotCtrl.errorMessage }}<br /><br /></div>
      <form>
        <div class="form-group">
          <label for="volunteer">Pick a volunteer</label><br />
          <select id="volunteer" name="volunteer" ng-model="slotCtrl.volunteer" required>
            <option ng-repeat="vol in slotCtrl.volunteers | orderBy: 'lastName'" value="{{ vol._id }}" >{{ vol.firstName }} {{ vol.lastName }}</option>
          </select>
        </div>
        <button type="submit" ng-click="slotCtrl.addVolunteer()" class="btn btn-default">Add Volunteer</button>
      </form>
    </div>
  </div>
</div>



