<div ng-show="volunteerCtrl.areThereVolunteers()">
  <div class="panel panel-default volunteer-container">
  <div class="panel-heading">Search for a specific volunteer:</div>
  <div class="panel-body text-center">
    <input type="search" ng-model="search.firstName" placeholder="filter volunteer by first name" aria-label="filter volunteer" class="filtering"/>
    <input type="search" ng-model="search.lastName" placeholder="filter volunteer by last name" aria-label="filter volunteer" class="filtering" />
  </div>
</div>
  <br />
  <div class="panel panel-default volunteer-container">
    <div class="panel-heading">Email all volunteers:</div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="col-md-6">
          <div class="form-group">
            <div class="col-sm-9">
              <button ng-click="volunteerCtrl.emailAllVolunteers()" type="button" class="btn btn-success">Email Volunteers</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
<br /></div>
</div>

<div class="panel panel-default volunteer-container">
  <div class="panel-heading">List of all volunteers:
    <div class="pull-right"><a href="/volunteers/create">Add a volunteer</a></div>
  </div>
  <div class="list-group">
    <div class="list-group-item no-padding" ng-repeat="volunteer in volunteerCtrl.data | filter: search | orderBy: 'lastName'">
      <a ng-href="/volunteers/{{volunteer._id}}" class="group-item">{{ volunteer.firstName }} {{ volunteer.lastName }}</a>
      <a ng-click="" ng-show="volunteer.hasSchedule" ng-href="/volunteers/schedule/{{volunteer._id}}"  class="btn btn-sm btn-success group-item-calendar"><span class="glyphicon glyphicon-list"></span></a>
      <a ng-click="volunteerCtrl.removeVolunteer(volunteer)" ng-href="" class="btn btn-sm btn-danger group-item-remove"><span class="glyphicon glyphicon-trash"></span></a>
    </div>
  </div>
  <div class="panel-body" ng-hide="volunteerCtrl.areThereVolunteers()">There are currently no entered volunteers.</div>
</div>
