<div class="panel panel-default volunteer-container" xmlns="http://www.w3.org/1999/html">
  <div class="panel-heading">Search for a specific volunteer:</div>
  <div class="panel-body text-center">
    <input type="search" ng-model="search.firstName" placeholder="filter volunteer by first name" aria-label="filter volunteer" class="filtering"/>
    <input type="search" ng-model="search.lastName" placeholder="filter volunteer by last name" aria-label="filter volunteer" class="filtering" />
  </div>
</div><br />
<div class="panel panel-default volunteer-container">
  <div class="panel-heading">List of all volunteers:
    <div class="pull-right"><a href="/volunteers/create">Add a volunteer</a></div>
  </div>
  <div>
    <div ng-repeat="volunteer in volunteerCtrl.data | filter: search | orderBy: 'lastName'">
      <div class="btn-group btn-group-justified">
         <a ng-href="/volunteers/{{volunteer._id}}" class="btn btn-default"> {{ volunteer.firstName }} {{ volunteer.lastName }} </a>

         <div class="btn btn-default"> Remove <div>

         </div>

    </div>
    <button class="btn btn-primary" ng-hide="volunteerCtrl.areThereVolunteers()">There are currently no entered volunteers.</button>
  </div>
</div>


